<%namespace name="base_ui" file="base_ui.html"/>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Radius 系统控制台</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <!-- Bootstrap 3.3.2 -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- Font Awesome Icons -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Ionicons -->
    <link href="/static/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
    <!-- Theme style -->
    <link href="/static/css/AdminLTE.min.css" rel="stylesheet" type="text/css"/>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="/static/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/manage.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <script>
        function clean_cache() {
            $.get("/cache/clean", {}, function (data) {
                alert(data.msg)
            }, "json");
        }
    </script>
    <!-- jQuery 2.1.3 -->
    <script src="/static/plugins/jQuery/jQuery-2.1.3.min.js"></script>

    ${self.head()}
</head>


<body class="skin-blue">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        ${base_ui.page_nav()}
    </header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        ${base_ui.page_sidebar()}
    </aside>

    <!-- =============================================== -->

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        ${self.body()}
    </div>
    <!-- /.content-wrapper -->

    ${base_ui.page_footer()}

    <aside class="control-sidebar control-sidebar-dark">
    </aside>
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<script src="/static/js/json2.js"></script>

<!-- Bootstrap 3.3.2 JS -->
<script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- SlimScroll -->
<script src="/static/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- FastClick -->
<script src='/static/plugins/fastclick/fastclick.min.js'></script>
<!-- AdminLTE App -->
<script src="/static/js/app.min.js" type="text/javascript"></script>
</body>
</html>